@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Playpen+Sans:wght@500&family=Poor+Story&family=Roboto:wght@100&family=Rubik+Broken+Fax&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #2e2e2e;
    border: 0.1vw solid black;
    padding: 1vw;
    text-align: right;
}

.links{
    display: inline-block;
    margin-right: 5vw;
    transition: 0.4s;
}

.links :hover{
    font-size: larger;
    transition: 0.5s;
}

.links a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.column0{
    border: 1vw;
    width: 25vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1vw;
    margin-left: 2vw;
    margin-top: 25vw;
}

.column1{
    border: 1vw;
    width: 25vw;
    display: inline-block;
}

.col1 img{
    margin-top: 2vw;
    margin-left: 4vw;
    border: 0.5vw solid black;
}

.col1 h1{
    margin-left: 2.5vw;
}

.column2{
    width: 65vw;
    display: inline-block;
    float: right;
    margin-right: 3vw;
    margin-top: vw;
}

.col2{
    padding: 1vw;
    margin-top: 4vw;
    border: 0.1vw;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.bottomparts{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.cr{
    text-align: right;
    font-size: 0.8vw;
    color: black;
}

.footer{
    padding: .5vw;
    background-color: #2e2e2e;
    color: white;
    border: 0.1vw solid black;
}

.links2{
    background: url(/images/sprite.png);
    background-repeat: no-repeat;
    width: 66px;
    height: 66px;
    display: inline-block;
    margin-left: 3vw;
    justify-content: space-around;
}

#fb{
    background-position: -439px -146px;
}

#yt{
    background-position: -439px -221px;
}

#x{
    background-position: -66px -72px;
}

#vidbg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index:-1; 
}

.content1{
    color: white;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1vw;
    margin-top: 1vw;
    text-align: center;
    width: 30vw;
    margin-left: 1vw;
}

.content2{
    color: white;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.7);
    width: 30vw;
    text-align: center;
    margin-top: 1vw;
    margin-left: 1vw;
}

.content3{
    color: white;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: 1vw;
    width: 30vw;
    margin-left: 1vw;
}

.contents{
    display: flex;
    margin-top: 1vw;
    border: 1vw;
    text-align: center;
    position: fixed;
    transition: 0.8s;
}

.contents :hover{
    transition: 0.8s;
    font-size: large;
}

.whoweare {
    padding: 1vw;
    position: fixed;
    width: 40vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-top: 2vw;
    margin-left: 2vw;
}

.vision{
    padding: 1vw;
    position: fixed;
    width: 40vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-top: 2vw;
    margin-left: 50vw;
}

.mission{
    padding: 1vw;
    position: fixed;
    width: 40vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-top: 13vw;
    margin-left: 50vw;
}

.hthp{
    padding: 1vw;
    position: fixed;
    width: 40vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-top: 20vw;
    margin-left: 50vw;
}

.webli{
    position: fixed;
    border: 0.1vw solid black;
    background-color: antiquewhite;
    padding: 1vw;
    border-radius: 3vw;
    text-decoration: none;
    margin-top: 28vw;
    margin-left: 47vw;
    transition: 0.8s;
}

.webli :hover{
    transition: 0.8s;
    font-size: larger;
}

a{
    text-decoration: none;
    font-family: 'Kanit', sans-serif;

}

p{
    font-family: 'Poor Story', system-ui;
}

h1{
    font-family: 'Poor Story', system-ui;
}

.planet{
    margin-top: 20vw;
    background-image: url(images/planet.gif);
    width: 20vw;
    height:20vw;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    animation: leftgo 20s ease 0s infinite;
    position: fixed;
}

@keyframes leftgo{
    0% { transform: translate(-100%);}
    100% { transform: translate(100vw);}
}
